extends ../layouts/admin
block content

    main
        .container-fluid
            h1.mt-4 Quản lý danh sách tin tức
            ol.breadcrumb.mb-4
                li.breadcrumb-item
                    a(href='/admin') Admin
                li.breadcrumb-item.active News
            .card.mb-4
                .card-header
                    .row
                        .col-sm-6.col-md-6
                            i.fas.fa-table.mr-1
                            span Tin tức
                        .col-sm-6.col-md-6
                            .row
                                .col-sm-8.col-md-8
                                    form(method="POST", onsubmit="return validateForm()")
                                        .form-group.d-flex
                                            input#check-1.form-control(type="text", name="name", placeholder='Thêm loại tin tức mới(nếu có)')
                                            label#error-1.lable-error
                                            button.btn.btn-primary.ml-2 Thêm
                                .col-sm-4.col-md-4
                                    a.btn.btn-primary(href="/admin/news/add") Thêm tin tức
                            
                .card-body
                    .table-responsive
                        table#dataTable.table.table-bordered(width='100%', cellspacing='0')
                            thead
                                tr
                                    th Tiêu đề
                                    th Miêu tả
                                    th Ngày đăng
                                    th Tag
                                    th Tác vụ
                            tbody
                                each item in news
                                    tr
                                        td= item.name
                                        td= item.description
                                        td= item.date
                                        td= item.tag
                                        td
                                            a(href=`/admin/news/delete=${item.id}`).btn.btn-danger Xóa
                                                