extends ../layouts/index
block content

    if(seed.images === '')
        .hero-wrap.hero-bread(style= images)
            .container
                .row.no-gutters.slider-text.align-items-center.justify-content-center
                    .col-md-9.ftco-animate.text-center
                        p.breadcrumbs
                            span.mr-2
                                a(href='/') Trang chủ
                            span.mr-2
                                span /
                            span.mr-2
                                a(href='/crops') Cây trồng
                        h1.mb-0.bread= seed.name
    else
        .hero-wrap.hero-bread(style= style)
            .container
                .row.no-gutters.slider-text.align-items-center.justify-content-center
                    .col-md-9.ftco-animate.text-center
                        p.breadcrumbs
                            span.mr-2
                                a(href='/') Trang chủ
                            span.mr-2
                                span /
                            span.mr-2
                                a(href='/crops') Cây trồng
                        h1.mb-0.bread= seed.name

    section.ftco-section
        .container
            .row
                if(seed.images === '')
                    .col-lg-6.mb-5.ftco-animate
                        a.image-popup(href= `/images/${images1}`)
                            img.img-fluid(src= `/images/${images1}`, alt='Colorlib Template')
                else
                    .col-lg-6.mb-5.ftco-animate
                        a.image-popup(href='/upload/'+seed.images)
                            img.img-fluid(src='/upload/'+seed.images, alt='Colorlib Template')
                .col-lg-6.product-details.pl-md-5.ftco-animate
                    h3= seed.name
                    .rating.d-flex
                        p.text-left.mr-4
                            span Ngày đăng: 
                                span= seed.date
                            p.text-left.ml-4
                                span#count_view.view_seeds(style='color: blue')= seed.view
                                    span &nbsp;
                                    span.fa.fa-eye
                            p.text-left
                                span.ml-5(style='color: red')= seed.like
                                    span &nbsp;
                                    span.fa.fa-heart

                    h4
                        span Nguồn gốc
                    p
                        p(style="text-align: justify")= seed.origins
                .col-lg-12.product-details.pl-md-5.ftco-animate
                    h4
                        span Những đặc tính chủ yếu
                    p
                        p(style="text-align: justify")= seed.biology
                    h4
                        span Hướng sử dụng và yêu cầu kỹ thuật
                    p
                        p(style="text-align: justify")= seed.techniques

            .row
                .col-lg-12.bg-light
                    .pt-2.pl-4
                        h3.mb-5 Bình luận
                        each item in comments
                            ul.comment-list
                                li.comment.ml-5
                                    .vcard.bio
                                        img(src='/images/icon-user.jpg', alt='Image placeholder')
                                    .comment-body
                                        h3= item.user
                                            .meta= item.date
                                        p= item.contents

                        if(session)
                            form.p-5(method='POST')
                                .form-group
                                    label(for='message') Viết bình luận
                                    textarea#message.form-control(name='contents', cols='20', rows='3')
                                    button.btn.mt-3.btn-primary Gửi
                        else
                            ul.comment-list
                                li.comment.ml-5
                                    span
                                        span Bạn cần phải 
                                        a(href="/register") &nbsp;Đăng ký
                                        span &nbsp;hoặc
                                        a(href="/auth/login") &nbsp;Đăng nhập
                                        span &nbsp;để bình luận bài viết

    section.ftco-section
        .container
            .row.justify-content-center
                .col-md-12.heading-section.text-center.ftco-animate
                    span
                        h3.subheading.price Các giống liên quan liên quan
        .container
            .row.autoplay
                each item in types
                    .col-md-6.col-lg-3.ftco-animate
                        .product
                            a.img-prod(href='#')
                                img.img-fluid(src=`/images/${images1}`, alt='Colorlib Template')
                                span.status New
                                .overlay
                            .text.py-3.pb-4.px-3.text-center
                                h3
                                    a(href='#')= item.name
                                .d-flex
                                .pricing
                                    p.price
                                        span.price-sale Chi tiết
                                .bottom-area.d-flex.px-3
                                    .m-auto.d-flex
                                        a.add-to-cart.d-flex.justify-content-center.align-items-center.text-center(href='/crops/id='+item.id)
                                            span
                                                i.ion-ios-menu
                                        a.heart.d-flex.justify-content-center.align-items-center(href='#')
                                            span
                                                i.ion-ios-heart

