extends ../news/index
block shows
    span Tin tức, Ngày: 
        span= load.date
        span.ml-3
            i.fa.fa-user
                span.ml-1=load.poster
    h4= load.name
    h5
        i= load.description
    div#detail(style="text-align: justify;")!= load.content
    h5
        span Tag: 
        span= load.tag